<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>translator</title>
    <link rel="stylesheet" href="../static/ts.css">
</head>
<body>

<div class="container">
        <div class="title">English --> Finnish</div>
        <textarea id="english" placeholder="Enter english to translate"></textarea>
        <button id="compute">Compute(wait 2s-4s)</button>
        <div class="output" id="finnish">translated content here</div>
    </div>

    <script src="../static/ts.js"></script>
</body>
</html>